<!DOCTYPE html>
<html>
  <head>
    <title>StudyWith</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header> 
      <br><br>
      <%= link_to "Home", root_path %> |
      <%= link_to "Schools", schools_path %> |
      <% if logged_in? %>
          <%= link_to "Profile", user_path(current_user) %> |
          <%= link_to "Log Out", logout_path, method: 'delete' %> 
      <% else %>
          <%= link_to "Sign Up", signup_path %> |
          <%= link_to "Log In", login_path %> 
      <% end %>
    </header>
    <br>
    <br>
    <div>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= flash[:message] if flash[:message] %>
    </div>

    <%= yield %>

    <footer>
    </footer>
  </body>
</html>
